body{
  display: flex;
  justify-content: center;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.view-mode,
.edit-mode {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-description {
  margin-left: 10px;
}

.edit-buttons {
  display: flex;
  gap: 5px;
}

.edit-input {
  margin-right: 10px;
  padding: 5px;
}
